/* Theme colors - go to https://material.io/color
   and pick your desired primary and secondary
   colors, then navigate to the accessibility
   tab to determine which text colors are supported
   on each specific theme color */

/* Save the resulting URL here to reference different
   design patterns during application build:
   https://material.io/color/#!/?view.left=0&view.right=0&primary.color=43A047&secondary.color=8E24AA */

   :root {
    --primary-color: #cc0000;
    --primary-light: #60ad5e;
    --primary-dark: #005005;
  
    --text-primary-white: rgba(255,255,255,0.81);
  
    --back-grey: rgba(225,226,225,1);
    --background-color: whitesmoke;
  
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    box-sizing: border-box;
    font-size: 16px;
  }
  h1 { font-size: 2rem; }
  h2 { font-size: 1.5rem; }
  h3 { font-size: 1.25rem; }
  html, body { min-height: 100vh; }
  * { margin: 0; padding: 0; }
  body { margin-top: 4.5rem; }